/************** Description *******************
Problem:
$title
($url)
***********************************************/

#include <iostream>
#include <vector>
#include <memory>
using namespace std;

class Solution {
public:
    /** Note
    **/
    // copy the functions here
    
};


int main ( int argc, char * argv [] ) {
    shared_ptr<Solution> s(new Solution());
    // s->solution_funtion()

}

