// Problem:
// $title
// ($url)


/************** Description *******************










***********************************************/
#include <iostream>


class Solution {
public:
    /** Note

    **/
    // copy the functions here
    
};


int main ( int argc, char * argv [] ) {
    shared_ptr<Solution> s(new Solution());
    // s->solution_funtion()


}

